{% autoescape off %}
Hi {{ user.username }},

Warm Regards From IIC JSSSTU!!

IDEATHON 2020
Download Ideathon_2.0.docx file from our website.
Link To Download Format http://iicjssstu.in/media/ideaFormat/Ideathon_2.0.docx
The Instructions for participation is given in the website.
Follow the instructions and the prescribed format.
Create and upload a PDF file to the website.

Please click on the link below to confirm your registration for Ideathon 2020,
http://{{ domain }}{% url 'it20:activate' uidb64=uid token=token %}
{% endautoescape %}
