{% load static from static %}
<!DOCTYPE html>
  <html>
    <head>
	    <title>Contact Us</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'login-signup/materialize.min.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <nav>
    <div class="nav-wrapper black darken-4">
    <div class="container">
    	 <a href="/" class="brand-logo">IIC JSSSTU</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="{% url 'iichome:home' %}">Return to IIC JSSSTU</a></li>
	        <li><a href="{% url 'it20:it20about' %}">Return to Ideathon 2021</a></li>
	      </ul>
    </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>IDEATHON 2021</h2>
          <form action="{% url 'it20:it20about' %}" method="get">
            {% csrf_token %}
            <p>Samanvitha(Club Cordinator) - +91 89048 68690</p>
            <p>Anagha(Club Cordinator) - +91 87924 90361</p>
            <p>Email - iicjssstu@jssstuniv.in</p>
            <p>Happy To Help You!!</p>
            <button class="btn btn-large" type="submit">Return Ideathon 2021</button>
          </form>
        </div>
    </div>
  </div>
 <script src="{% static 'login-signup/materialize.min.js' %}"></script>
</body>
</html>
