<!--
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE
DESIGNED & DEVELOPED by FREEHTML5.CO
Further designed by IIC JSSSTU
//////////////////////////////////////////////////////
 -->
{% load static from staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SUBMIT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">


  	<!-- Facebook and Twitter integration
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
-->
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

<!-- Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- Themify Icons -->
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<!-- FontAwesome Icons -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- Owl Carousel -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<!-- Magnific Popup -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.cs' %}s">
<!-- Easy Responsive Tabs -->
<link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}">
<!-- Theme Style -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body class="gototop">


		<!-- Hero -->
		<aside role="complementary" id="fh5co-hero" style="background-image: url({% static 'images/ideathon_bg3.jpg' %});">
			<div class="fh5co-bg-overlay"></div>
			<div class="container">
				<div class="fh5co-hero-text-wrap">
					<div class="fh5co-hero-text">
						<h2 class="fh5co-uppercase-heading-sm">IDEATHON 2020</h2>
						<h2>A good idea becomes a great idea,when you let it out.</h2>
            <form action="{% url 'it20:it20about' %}" method="GET">
							{% csrf_token %}
							<button type="submit" class="btn btn-primary btn-lg">Return To Ideathon 2020</button>
						</form>
					</div>
				</div>
			</div>
		</aside>
		<!-- Hero -->

		<!-- Main -->
		<main role="main">


			<div class="container" id="fh5co-contact">
				<div class="fh5co-spacer fh5co-spacer-sm"></div>

				<div class="col-md-12">
					<div class="fh5co-section-heading">
						<h2 class="text-muted">Submit Your Idea</h2>
					</div>

							<form action="{% url 'it20:submit' %}" method="post" enctype="multipart/form-data">
								<!--{% csrf_token %}
  							<div class="form-group">
  								<label for="title">Title*</label>
  								<input type="text" name="title" class="form-control input-lg" placeholder="Title Of Idea" required>
  							</div>
  							<div class="form-group">
  								<label for="Document">Document*</label>
  								<input type="file" name="document" class="form-control input-lg" placeholder="Your Document" accept="application/pdf" required>
  							</div>
  							<div class="form-group">
  								<label for="contact">Contact number*</label>
  								<input type="text" name="contact" class="form-control input-lg" placeholder="Your contact number" required>
  							</div>
-->
								{% csrf_token %}
            							{{ form|crispy}}
  							<div class="form-group text-center">
  								<input type="submit" value="Submit Idea" class="btn btn-primary btn-lg">
  							</div>
              </form>
						</div>

            </div>

		</main>
		<!-- Main -->

    <!-- Main -->

		<!-- Footer -->
		<footer role="contentinfo">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.037274744301!2d76.61123781412908!3d12.31327673231407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf7ae94fffffff%3A0x1ad797cbfc78d07a!2sJSS%20Science%20and%20Technology%20University%2C%20Mysuru.!5e0!3m2!1sen!2sin!4v1577629431800!5m2!1sen!2sin" width="400" height="200" frameborder="0" style="border:0;width:90%" allowfullscreen=""></iframe>
					</div>
					<div class="col-md-3">
                <h2 class="fh5co-footer-title">Connect</h2>
                <ul class="fh5co-footer-links">
                  <li><a href="mailto:iicjssstuniv.in">iicjssstuniv.in</a></li><br>
                  <li><a href="https://www.instagram.com/iicjss_stu/" class="fh5co-link"><i class="fa fa-instagram"></i>Instagram</a></li>
                </ul>
              </div>
            </div>


				<div class="row">
					<div class="col-md-12">
						<div class="fh5co-copyright">
							   <p class="pull-left">&copy;	Relic 2015. All Rights Reserved. <br> Lovely crafted by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a> further designed by IIC JSSSTU</p>

						</div>
					</div>
				</div>

			</div>
		</footer>
		<!-- Footer -->

		<!-- Go To Top
		<a href="#" class="fh5co-gotop"><i class="ti-angle-up"></i></a>
    -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- Owl carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Easy Responsive Tabs -->
    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    <!-- FastClick for Mobile/Tablets -->
    <script src="{% static 'js/fastclick.js' %}"></script>
    <!-- Velocity -->
    <script src="{% static 'js/velocity.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>


	</body>
</html>
