<!--
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE
DESIGNED & DEVELOPED by FREEHTML5.CO

//////////////////////////////////////////////////////
 -->
{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>IIC-IDEATHON 2020</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
	<!-- Themify Icons -->
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<!-- FontAwesome Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.cs' %}s">
	<!-- Easy Responsive Tabs -->
	<link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body class="gototop">

      <!-- Navigation -->

		<!-- Navigation -->

		<!-- Header -->
		<header id="fh5co-header" role="banner">

		</header>
		<!-- Header -->

		<!-- Hero -->
		<aside role="complementary" id="fh5co-hero" style="background-image: url({% static 'images/ideathon_bg3.jpg' %});">

			<div class="container">
				<div class="fh5co-hero-text-wrap">
					<div class="fh5co-hero-text">
						<h2 class="fh5co-uppercase-heading-sm">IDEATHON 2020</h2>
						<h1>Innovate &amp; Inspire</h1>
						<a href="{% url 'iichome:home' %}" class="btn btn-primary fh5co-hero-btn mt-10">IIC JSSSTU</a>
						<a href="{% url 'it20:contact' %}" class="btn btn-primary fh5co-hero-btn mt-10">Contact Us</a>
            {% if user.is_authenticated %}
  				              <form action="{% url 'it20:logout' %}" method="POST">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-primary fh5co-hero-btn mt-10">logout</button>
  				              </form>
  				              <form action="{% url 'it20:submit' %}" method="GET">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-primary fh5co-hero-btn mt-10 ">Submit your idea</button>
  				              </form>
  											<form action="{% url 'it20:download' %}" method="GET">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-primary fh5co-hero-btn mt-10">Download Format</button>
  				              </form>
  				    {% else %}
  				              <form action="{% url 'it20:login' %}" method="POST">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-primary fh5co-hero-btn mt-10">login</button>
  				              </form>
  				              <form action="{% url 'it20:signup' %}" method="POST">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-primary fh5co-hero-btn mt-10">signup</button>
  				              </form>
  				    {% endif %}
					</div>
				</div>
			</div>
		</aside>
		<!-- Hero -->

		<!-- Main -->
		<main role="main">


			<div class="container">

				<div class="row">
					<div class="col-md-5">
						<h2>Why Ideathon 2.0</h2>
						<ul>
							<li>
								MHRD’s initiative to promote innovation
							</li>
							<li>
								Top three teams will be awarded with cash prize worth 18K
							</li>
							<li>
								Top three teams will get opportunity to pitch their idea at state and national level and may get a chance to visit Canada or South Korea for product development.
							</li>
						</ul>
						<h2>Guidelines</h2>
						<ul>
							<li>
								Create your account in our web portal.
							</li>
							<li>
								 Download Ideathon_2.0.docx file in which instructions are given.
							</li>
							<li>
								 Follow the instructions and the prescribed format.
							</li>
							<li>
								 Create and upload a PDF file to the website.
							</li>
						</ul>
						<h2>Other Information</h2>
						<ul>
							<li>
								The uploaded ideas will be screened to go second round.

							</li>
							<li>
								In second round, the selected teams will have to present their idea in front of the jury panel.
							</li>
						</ul>
            {% if user.is_authenticated %}

  				              <form action="{% url 'it20:submit' %}" method="GET">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-success active bb ">Submit your idea</button>
  				              </form>

  				    {% else %}
  				              <form action="{% url 'it20:login' %}" method="POST">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-success active bb">login</button>
  				              </form>
  				              <form action="{% url 'it20:signup' %}" method="POST">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-primary active ">signup</button>
  				              </form>
  				    {% endif %}
					</div>
					<div class="col-md-6 col-md-push-1">
						<figure class="fh5co-with-caption">
							<img src="{% static 'images/sjce.jpg' %}" alt="Image" class="img-responsive">
							<figcaption>ideathon picture here.</figcaption>
						</figure>
						<h2>FAQ</h2>
						<ul>
							<li>
								Anyone can participate (irrespective of stream)
							</li>
							<li>
								Interbranch teams are allowed
							</li>
							<li>
								Maximum 3 members in a team
							</li>
              <li>
								Intercollegiate teams are not allowed.
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="fh5co-spacer fh5co-spacer-lg"></div>

    </main>
    <!-- Main -->

    <!-- Footer -->
    <footer role="contentinfo">
      <div class="container" id="contactin">
        <div class="row">
          <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.037274744301!2d76.61123781412908!3d12.31327673231407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf7ae94fffffff%3A0x1ad797cbfc78d07a!2sJSS%20Science%20and%20Technology%20University%2C%20Mysuru.!5e0!3m2!1sen!2sin!4v1577629431800!5m2!1sen!2sin" width="400" height="200" frameborder="0" style="border:0;width:90%" allowfullscreen=""></iframe>
          </div>
          <div class="col-md-4 ml">
          <h5>Email-Id</h5>
          <ul class="fh5co-footer-links ">
              <li><a href="#" class="fh5co-link "><i class="fa fa-envelope"></i>
              iicjssstu@gmail.com
              </a>
              </li>
          </ul>
          </div>
          <div class="col-md-3">
            <h2 class="fh5co-footer-title">Connect</h2>
            <ul class="fh5co-footer-links">
              <li><a href="#" class="fh5co-link"><i class="fa fa-facebook-square"></i>Facebook</a></li>
              <li><a href="https://www.instagram.com/iicjss_stu/" class="fh5co-link"><i class="fa fa-instagram"></i>Instagram</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="fh5co-copyright">
                 <p class="pull-left">&copy;	Relic 2015. All Rights Reserved. <br> Lovely crafted by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a> further designed by IIC JSSSTU</p>

            </div>
          </div>
        </div>

      </div>
    </footer>
    <!-- Footer -->

    <!-- Go To Top
    <a href="#" class="fh5co-gotop"><i class="ti-angle-up"></i></a>
    -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- Owl carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Easy Responsive Tabs -->
    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    <!-- FastClick for Mobile/Tablets -->
    <script src="{% static 'js/fastclick.js' %}"></script>
    <!-- Velocity -->
    <script src="{% static 'js/velocity.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>


  </body>
  </html>
