{% load static from staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
  <html>
    <head>
	    <title>Login Ideathon</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'login-signup/materialize.min.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <nav>
    <div class="nav-wrapper black darken-4">
    <div class="container">
    	 <a href="{% url 'iichome:home' %}" class="brand-logo">IIC JSSSTU</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'iichome:home' %}">Return to IIC JSSSTU</a></li>
	        <li><a href="{% url 'it20:it20about' %}">Return to Ideathon 2020</a></li>
	        <li><a href="{% url 'it20:contact' %}">Contact</a></li>
	      </ul>
    </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>IDEATHON 2020</h2>
          <form action="{% url 'it20:login' %}" method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <button class="btn btn-large" type="submit">Login</button>
          </form>
        </div>
    </div>
  </div>
 <script src="{% static 'login-signup/materialize.min.js' %}"></script>
</body>
</html>
