<!--
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE
DESIGNED & DEVELOPED by FREEHTML5.CO
Further designed by IIC JSSSTU
//////////////////////////////////////////////////////
 -->
{% load static from staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IIC_JSSSTU</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  	<!-- Google Webfont -->
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Nunito:100,200,300,400,500,700|Montserrat:400,700'
    rel='stylesheet' type='text/css'>
  <!-- Themify Icons -->
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <!-- FontAwesome Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <!-- Easy Responsive Tabs -->
  <link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}">
  <!-- Theme Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Events page -->
  <link rel="stylesheet" href="{% static 'css/ourEvents.css' %}">
  <!-- <link rel="stylesheet" href="css/style2.css"> -->
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
  <!-- ThemeFisher Icon -->
  <link rel="stylesheet" href="{% static 'plugins/themefisher-fonts/themefisher-fonts.css' %}">
  <!-- Light Box -->
  <link rel="stylesheet" href="{% static 'plugins/magnific-popup/magnific-popup.css' %}">
  <!-- animation css -->
  <link rel="stylesheet" href="{% static 'plugins/animate/animate.css' %}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
  <!-- for team -->
  <!-- <link rel="stylesheet" href="css/ourTeam.css"> -->
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <script src="{% static 'plugins/modernizr.min.js' %}"></script>
</head>

<body data-name="gototop">
  <!--<header id="fh5co-header" role="banner">
   	<div id="fh5co-logo" class="text-center"><img src="{% static 'images/jssstu.png' %}" class="img-fluid"
          width="200" height="80" alt="Image"><img src="{% static 'images/iic.png' %}" class="img-fluid mb-5" width="200" height="150"
          alt="Image"></div>
	 
	<header id="fh5co-header" role="banner">
	  <div id="fh5co-logo" class="text-center">
		  <img src="{% static 'images/jssstu.png' %}" class="img-fluid img-jss" width="200" height="80" alt="Image">       
           	<img src="{% static 'images/iic.png' %}" class="img-fluid img-iic" width="200" height="100" alt="Image">
	  <br class="fh5co-spacer fh5co-spacer-sm">
    </div>
	 
	
	
	
  </header>-->
	 <header id="fh5co-header" role="banner">

    <div id="fh5co-logo" class="text-center">
            <img src="{% static 'images/jssstu.png' %}" class="img-fluid img-jss"
          width="200" height="80" alt="Image">

       
        <img src="{% static 'images/iic.png' %}" class="img-fluid img-iic" width="200" height="100"
          alt="Image">
     <br class="fh5co-spacer fh5co-spacer-sm">
    </div>
  </header>
	
	
	
	
	
	
	
	
	
	
	
  <!-- Header -->

  <!-- Hero -->
  <aside role="complementary" id="fh5co-hero" style="background-image: url({% static 'images/bg2.jpg' %});">
    <div class="fh5co-bg-overlay"></div>
    <div class="container">
      <div class="fh5co-hero-text-wrap">
        <div class="fh5co-hero-text">
          <p>
            <h1>IIC JSSSTU</h1>
          </p>
          <p>Empowering the Innovator in you</p>
          <br class="fh5co-spacer fh5co-spacer-sm">
          <p>
            
            <a href="{% url 'it20:it20about' %}" class="btn btn-primary fh5co-hero-btn mt-10" method="GET">IDEATHON 2020</a>
            <a href="{% url 'events:allevents' %}" class="btn btn-primary fh5co-hero-btn mt-10">Year 2019</a>
	    <!--<a href="#fh5co-latest-project" class="btn btn-primary fh5co-hero-btn ">About us</a>
            <a href="#contactin" class="btn btn-primary fh5co-hero-btn mt-10">Contact Us</a>-->
          </p>
        </div>
	    
      </div>
    </div>
  </aside>
  <!-- Hero -->

  <!-- Main -->
  <main role="main">

    <!-- Latest Project -->
    <div id="fh5co-latest-project">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <figure>
              <img src="{% static 'images/sjce.jpg' %}" alt="Image" class="img-responsive">
            </figure>
          </div>
          <div class="col-md-6 ">
            <section>
              <h5 class=" text-uppercase fh5co-no-margin-bottom fh5co-letter-space">JSS SCIENCE AND TECHNOLOGY UNIVERSITY</h5>
              <br class="fh5co-spacer fh5co-spacer-xxs">
              <h2 class="fh5co-heading-with-border"><span class="fh5co-border"></span>Standout from the crowd</h2>
              <p>JSS STU aims to create a futuristic global university with a learner-centric ecosystem and a focus on
                science and technology. The University is committed to deliver high quality educational opportunities
                for youth and transform not only its neighbourhood but offer courses to equip aspiring youth to meet the
                global needs of industry in every sector. The Mission is to establish one of the world’s best
                universities, which is broad-based, sustainable, value driven and research-intensive and integrates
                nation building.</p>
              <p><a href="http://jssstuniv.in/" class="fh5co-link"><i class="fa fa-angle-right"></i> View JSS STU
                  website</a></p>
              <!--<p><a href="www.sjce.ac.in" class="fh5co-link"><i class="fa fa-angle-right"></i> View SJCE website</a></p>-->

              <br></br>

            </section>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <br></br>
            <h5 class="text-uppercase fh5co-no-margin-bottom fh5co-letter-space text-center ">INSTITUTION'S INNOVATION
              COUNCIL</h5>
            <br class="fh5co-spacer fh5co-spacer-xxs center">
            <h2 class="text-center"><span class="fh5co-border"></span>A Core Committe Of JSSSTU</h2>
            <br></br>
            <P>Ministry of Human Resource Development (MHRD), Govt. of India has established ‘MHRD’s Innovation Cell (MIC)’ to systematically foster the culture of Innovation amongst all Higher Education Institutions (HEIs). The primary mandate of MIC is to encourage, inspire and nurture young students by supporting them to work with new ideas while they are in formative years.
            </p>
            <p>
			MIC has envisioned creation of ‘Institution’s Innovation Council (IICs)’ across selected HEIs. A network of these IICs will be established to promote innovation in the Institution through multitudinous modes leading to an innovation promotion eco-system in these campuses.
			</p>
			<br></br>
			<h4><b>Major Focus of IIC</b></h4>
			<p>
			• To create a vibrant local innovation ecosystem<br>
            • Start-up/ entrepreneurship supporting Mechanism in HEIs<br>
            • Prepare institute for Atal Ranking of Institutions on Innovation Achievements Framework (ARRIA)<br>
            • Establish Function Ecosystem for Scouting Ideas and Pre-incubation of Ideas<br>
            • Develop better Cognitive Ability amongst Technology Students<br>
			</p>
			<br></br>
			<h4><b>Promote innovation in the Institution through multitudinous modes leading to an innovation promotion eco-system in the campus</b></h4>
			<p>
			• To conduct various innovation and entrepreneurship-related activities prescribed by Central MIC in time bounded fashion.<br>
            • Identify and reward innovations and share success stories.<br>
            • Organize periodic workshops/ seminars/ interactions with entrepreneurs, investors, professionals and create a mentor pool for student innovators.<br>
            • Network with peers and national entrepreneurship development organizations.<br>
            • Create an Institution’s Innovation portal to highlight innovative projects carried out by institution’s faculty and students.<br>
            • Organize Hackathons, idea competition, mini-challenges etc with the involvement of industries.<br>
			</p>
          </div>
        </div>
      </div>
    </div>


    <hr class="fh5co-spacer fh5co-spacer-sm">



  </main>
  <!-- Main -->






        <!-- Our Events -->
        <section class="container-fluid px-5 events">



          <!-- Hackathon 2019-->
          <div class="row align-items-center content">
              <div class="col-md-6 order-2">
                  <!-- <img src="images/blog/blog-img2.jpg" alt="" class="img-fluid"> -->

                  <div id="carouselExampleIndicators7" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators7" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="2"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="3"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="4"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="5"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="6"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="7"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="8"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="9"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="10"></li>
                          <li data-target="#carouselExampleIndicators7" data-slide-to="11"></li>
                      </ol>
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-1.jpg' %}" alt="First slide">
                          </div>
                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-2.jpg' %}" alt="Second slide">
                          </div>

                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-5.jpg' %}" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-6.jpg' %}" alt="Third slide">
                          </div>

                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-8.jpg' %}" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-9.jpg' %}" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-10.jpg' %}" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-11.jpg' %}" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-12.jpg' %}" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-13.jpg' %}" alt="Third slide">
                          </div>

                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-15.jpg' %}" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                              <img class="d-block w-100" src="{% static 'images/hackathon/img-16.jpg' %}" alt="Third slide">
                          </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators7" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators7" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 text-center order-1 order-md-2">
                  <div class="row  justify-content-center">
                      <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                          <h3>24 hours state level Hackathon by</h3>
                             <h3> IIC–JSSSTU</h3>
                          <div class="date">
                              <p><span>01 Nov 2019</span><span> - 02 Nov 2019</span></p>
                          </div>
                          <div class="leadDisplay">
                              <p class="lead">
                                  JSS Science and Technology University’s – Institution Innovation Council (IIC) created history by hosting  the first ever 24-hour State level Hackathon in the college campus on Nov 1st and 2nd. With over 280 participants working in teams to arrive at innovative solutions, the event was  undoubtedly one of the most successful ones hosted by IIC. A total of  Rs. 80,000/- was given to winners.
                              </p>
                              <p class="lead">Dr. Anurag Srivatsava, Chief Operating Officer, Society for Innovation & Development, IISC Bengaluru was the chief guest of the valedictory function. He talked extensively about  “Future Readiness” and emphasized on the fact that, we don’t have a future without innovation.
                              </p>
                          </div>
                      </div>

                  </div>

              </div>
          </div>

      </section>

<!-- Footer -->

      <div id="contactin">
        <footer role="contentinfo">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.037274744301!2d76.61123781412908!3d12.31327673231407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf7ae94fffffff%3A0x1ad797cbfc78d07a!2sJSS%20Science%20and%20Technology%20University%2C%20Mysuru.!5e0!3m2!1sen!2sin!4v1577629431800!5m2!1sen!2sin"
                  width="400" height="200" frameborder="0" style="border:0;width:90%" allowfullscreen=""></iframe>
              </div>
              
              <div class="col-md-3">
                <h2 class="fh5co-footer-title">Connect</h2>
                <ul class="fh5co-footer-links">
                  <li><a href="mailto:iicjssstuniv.in">iicjssstuniv.in</a></li><br>
                  <li><a href="https://www.instagram.com/iicjss_stu/" class="fh5co-link"><i class="fa fa-instagram"></i>Instagram</a></li>
                </ul>
              </div>
            </div>

        <div class="row">
          <div class="col-md-12">
            <div class="fh5co-copyright">

              <p class="pull-left">&copy; Relic 2015. All Rights Reserved. <br> Lovely crafted by <a
                  href="http://freehtml5.co" target="_blank">FREEHTML5.co</a> further designed by IIC JSSSTU</p>

            </div>
          </div>
        </div>

      </div>
    </footer>
    <!-- Footer -->
  </div>

  <!-- Go To Top
  <a href="fh5co-main-nav-wrap" class="fh5co-gotop"><i class="ti-angle-up"></i></a>
-->

  <!-- jQuery -->
  <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
  <!-- jQuery Easing -->
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- Owl carousel -->
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <!-- Magnific Popup -->
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <!-- Easy Responsive Tabs -->
  <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
  <!-- FastClick for Mobile/Tablets -->
  <script src="{% static 'js/fastclick.js' %}"></script>
  <!-- Velocity -->
  <script src="{% static 'js/velocity.min.js' %}"></script>
  <!-- Main JS -->
  <script src="{% static 'js/main.js' %}"></script>


  <script src="{% static 'plugins/jquery.min.js' %}"></script>

  <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
  <!-- slick slider -->
  <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
  <!-- filter -->
  <script src="{% static 'plugins/filterizr/jquery.filterizr.min.js' %}"></script>
  <!-- Lightbox -->
  <script src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
  <!-- Parallax -->
  <script src="{% static 'plugins/parallax.min.js' %}"></script>
  <!-- Video -->
  <script src="{% static 'plugins/jquery.vide.js' %}"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
  <script src="{% static 'plugins/google-map/gmap.js' %}"></script>

  <script src="{% static 'js/script.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>


</body>

</html>
